# Environments
.venv*
venv/
env/

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.so

# Data and Checkpoints
*.pth
*.zip
slide_images/

# Logs and outputs
runs/
samples/
.ipynb_checkpoints/

# presentations
*.html
*.pptx